.item-container{
    margin-top: 1rem;
    box-shadow: rgb(49 122 130 / 35%) 0px 5px 15px;
    border: 1px solid rgba(49, 122, 130, 0.35);
    border-radius: 5px;
}

.item-row {
    display: flex;
    padding: 0 1rem;
}

.itemheadin {
    margin-bottom: 0;
    color: #516566;
}

.colum {
    display: flex;
    flex: 1;
    justify-content: left;
    padding: 0.5rem;
    flex-direction: column;
}
.imgItem {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}

.detailItm{
    margin-bottom: 10px;
    font-size: 14px;

    .itmkey{
        font-weight: bold;
        color: gray;
        margin-right: 5px;
    }
    .itmVal{
         font-weight: 300;
    }
}
.moredetails{
   
    color: #027a51;
    cursor: pointer;
    font-size: 13px;
    font-weight: 900;
    text-align: end;
}

.amountHeading {
    margin-bottom: 0;
    margin-top: 0;
}

.btn{
    margin-top: 15%;
}