.partitems {
    display: flex;
}

.searchItem {
    flex: 1;
    justify-content: space-between;
    padding: 1rem;
}

.cardItem {
    flex: 2;

}

.cartbutton{
    padding: 1rem;
    text-align: center;
}